@font-face {
    font-family: 'Gilroy-Black';
    src: local('Gilroy-Black'),
        url(../fonts/Gilroy-Black.ttf);
}

@font-face {
    font-family: 'Gilroy-BlackItalic';
    src: local('Gilroy-BlackItalic'),
        url(../fonts/Gilroy-BlackItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'),
        url(../fonts/Gilroy-Bold.ttf);
}

@font-face {
    font-family: 'Gilroy-BoldItalic';
    src: local('Gilroy-BoldItalic'),
        url(../fonts/Gilroy-BoldItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-BoldItalic';
    src: local('Gilroy-BoldItalic'),
        url(../fonts/Gilroy-BoldItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: local('Gilroy-ExtraBold'),
        url(../fonts/Gilroy-ExtraBold.ttf);
}

@font-face {
    font-family: 'Gilroy-ExtraBoldItalic';
    src: local('Gilroy-ExtraBoldItalic'),
        url(../fonts/Gilroy-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-Heavy';
    src: local('Gilroy-Heavy'),
        url(../fonts/Gilroy-Heavy.ttf);
}

@font-face {
    font-family: 'Gilroy-HeavyItalic';
    src: local('Gilroy-HeavyItalic'),
        url(../fonts/Gilroy-HeavyItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-Light';
    src: local('Gilroy-Light'),
        url(../fonts/Gilroy-Light.ttf);
}

@font-face {
    font-family: 'Gilroy-LightItalic';
    src: local('Gilroy-LightItalic'),
        url(../fonts/Gilroy-LightItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy-Medium'),
        url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
    font-family: 'Gilroy-MediumItalic';
    src: local('Gilroy-MediumItalic'),
        url(../fonts/Gilroy-MediumItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: local('Gilroy-Regular'),
        url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: 'Gilroy-RegularItalic';
    src: local('Gilroy-RegularItalic'),
        url(../fonts/Gilroy-RegularItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: local('Gilroy-SemiBold'),
        url(../fonts/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: 'Gilroy-SemiBoldItalic';
    src: local('Gilroy-SemiBoldItalic'),
        url(../fonts/Gilroy-SemiBoldItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-Thin';
    src: local('Gilroy-Thin'),
        url(../fonts/Gilroy-Thin.ttf);
}

@font-face {
    font-family: 'Gilroy-ThinItalic';
    src: local('Gilroy-ThinItalic'),
        url(../fonts/Gilroy-ThinItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-UltraLight';
    src: local('Gilroy-UltraLight'),
        url(../fonts/Gilroy-UltraLight.ttf);
}

@font-face {
    font-family: 'Gilroy-UltraLightItalic';
    src: local('Gilroy-UltraLightItalic'),
        url(../fonts/Gilroy-UltraLightItalic.ttf);
}

header {
    background-image: url("../img/headerImage.png");
    background-repeat: no-repeat;
    width: 1437px;
    height: 803px;
}

.hlogo h2 {
    font-family: 'Gilroy-Bold';
    font-size: 25px;
    color: #E5E5E6;
}

.hlogo p {
    font-family:  'Gilroy-Regular';
    font-size: 10px;
    color: #909195;
}

.srating p {
    font-family:  'Gilroy-Regular';
    font-size: 12px;
    color: #ffffff;
}

.prcalc p {
    font-family:  Roboto, sans-serif;
    font-size: 11px;
    color: #96989F;
    text-decoration: underline;
}

.prcalc>.btncalc {
    background-color: #84B73D;
    width: 237px;
    height: 45px;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;    
}

.callus p {
    font-family:  Roboto, sans-serif;
    font-size: 10px;
    color: #D2D3D6;
}

.wtime {
    font-family: Roboto, sans-serif;
    font-size: 10px;
    color: #D2D3D6;
}

.hphone {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: white;    
}

.hCallback {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    color: #87BF3C;
}

h1 {
    font-family:  Roboto, sans-serif;
    font-size: 48px;
    color: #ffffff;
    font-weight: 200;
}

h1 span {
    font-weight: 600;
}

.underheader1 {
    font-family:  Roboto, sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #ffffff;
}

.underheader1 span {
    font-weight: 600;
}

.calcprice {
    background-color: #FEAA01;
    width: 285px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    font-family: roboto, sans-serif;
    font-size: 16px;
    color: #FBFFFF;
}

nav ul li {
    display: inline-block;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    color: white;
    margin: 30px;
    padding: 10px;
}

nav ul li:hover {
    border: 1px solid #E1A43B;
    border-radius: 20px;
}

.hMenuBottom {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    color: white;
}

.hMenuBottom img {
    display: block;
}

.mcalcprice {
    background-color: white;
    border: 1px solid black;
    border-bottom-right-radius: 30px;
}

.mcalcprice h2 {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    color: #2D2D2F;
    font-weight: 300;
}

.mcalcprice h2 span {
    font-weight: 600;
}

.mcalcprice article h3 {
    font-family: Roboto, sans-serif;
    font-size: 25px;
    color: #262425;
}

.mcalcprice article p {
    font-family: Roboto, sans-serif;
    font-size: 11px;
    color: #777779;
}

.btnnext {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #FDFDFA;
    width: 139px;
    height: 47px;
    background-color: #FEAA01;
    border: 1px solid white;
    border-radius: 5px;
    vertical-align: baseline;
    text-align: center;
}

.house-01 {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #555050;
    font-weight: 500;
}

.leadarch-1 {
    font-family: Roboto, sans-serif;
    font-size: 25px;
    color: #272627;
    font-weight: 600;
}

.leadarch-2 {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #A09EA1;
    font-weight: 300;
}

.questions {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #4B4747;
    font-weight: 300;
}

.discount {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #4B4747;
    font-weight: 300;
    width: 251px;
    height: 68px;
    border: 1px solid black;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
}

.price-1 {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 300;
    width: 251px;
    height: 68px;
    border: 1px solid black;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-image: url("../img/CalcBG01.jpg");
    background-repeat: no-repeat;
}

.project-1 {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 300;
    width: 251px;
    height: 68px;
    border: 1px solid black;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-image: url("../img/ExactSekBG01.jpg");
    background-repeat: no-repeat;
}

.projects h2{
    font-family: Roboto, sans-serif;
    font-size: 47px;
    color: #2D2D2F;
    font-weight: normal;
}

.pcards h3 {
    font-family: Roboto, sans-serif;
    font-size: 29px;
    color: gray;
    font-weight: normal;
}

.watchproj {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #FBFFFF;
    text-align: center;
    background-color: #73B918;
    width: 285px;
    height: 20px;
    border-radius: 4px;
    padding: 20px;
}

footer {
    background-color: #373739;
    width: 1440px;
    height: 160px;
}

.cright {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    display: block;
    float: left;
    margin-left: 60px;
}

.prpolicy {
    color: #E5B53E;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    text-decoration: underline;
    display: block;
    float: right;
    margin-right: 60px;
}