@font-face {
    font-family: 'Gilroy-Black';
    src: local('Gilroy-Black'),
        url(../fonts/Gilroy-Black.ttf);
}

@font-face {
    font-family: 'Gilroy-BlackItalic';
    src: local('Gilroy-BlackItalic'),
        url(../fonts/Gilroy-BlackItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'),
        url(../fonts/Gilroy-Bold.ttf);
}

@font-face {
    font-family: 'Gilroy-BoldItalic';
    src: local('Gilroy-BoldItalic'),
        url(../fonts/Gilroy-BoldItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-BoldItalic';
    src: local('Gilroy-BoldItalic'),
        url(../fonts/Gilroy-BoldItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: local('Gilroy-ExtraBold'),
        url(../fonts/Gilroy-ExtraBold.ttf);
}

@font-face {
    font-family: 'Gilroy-ExtraBoldItalic';
    src: local('Gilroy-ExtraBoldItalic'),
        url(../fonts/Gilroy-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-Heavy';
    src: local('Gilroy-Heavy'),
        url(../fonts/Gilroy-Heavy.ttf);
}

@font-face {
    font-family: 'Gilroy-HeavyItalic';
    src: local('Gilroy-HeavyItalic'),
        url(../fonts/Gilroy-HeavyItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-Light';
    src: local('Gilroy-Light'),
        url(../fonts/Gilroy-Light.ttf);
}

@font-face {
    font-family: 'Gilroy-LightItalic';
    src: local('Gilroy-LightItalic'),
        url(../fonts/Gilroy-LightItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy-Medium'),
        url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
    font-family: 'Gilroy-MediumItalic';
    src: local('Gilroy-MediumItalic'),
        url(../fonts/Gilroy-MediumItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: local('Gilroy-Regular'),
        url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: 'Gilroy-RegularItalic';
    src: local('Gilroy-RegularItalic'),
        url(../fonts/Gilroy-RegularItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: local('Gilroy-SemiBold'),
        url(../fonts/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: 'Gilroy-SemiBoldItalic';
    src: local('Gilroy-SemiBoldItalic'),
        url(../fonts/Gilroy-SemiBoldItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-Thin';
    src: local('Gilroy-Thin'),
        url(../fonts/Gilroy-Thin.ttf);
}

@font-face {
    font-family: 'Gilroy-ThinItalic';
    src: local('Gilroy-ThinItalic'),
        url(../fonts/Gilroy-ThinItalic.ttf);
}

@font-face {
    font-family: 'Gilroy-UltraLight';
    src: local('Gilroy-UltraLight'),
        url(../fonts/Gilroy-UltraLight.ttf);
}

@font-face {
    font-family: 'Gilroy-UltraLightItalic';
    src: local('Gilroy-UltraLightItalic'),
        url(../fonts/Gilroy-UltraLightItalic.ttf);
}

header {
    background-image: url("../img/headerImage.png");
    background-repeat: no-repeat;
    background-size: contain;
    /* width: 1437px;
    height: 803px; */
}

.hlogo h2 {
    font-family: 'Gilroy-Bold';
    font-size: 25px;
    color: #E5E5E6;
}

.hlogo p {
    font-family:  'Gilroy-Regular';
    font-size: 10px;
    color: #909195;
}

.srating p {
    font-family:  'Gilroy-Regular';
    font-size: 12px;
    color: #ffffff;
}

.prcalc p {
    font-family:  'Gilroy-SemiBold';
    font-size: 11px;
    color: #96989F;
    text-decoration: underline;
}

.prcalc>.btncalc {
    background-color: #84B73D;
    width: 237px;
    height: 45px;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;    
}

.callus p {
    font-family: 'Gilroy-SemiBold';
    font-size: 10px;
    color: #D2D3D6;
}

.wtime {
    font-family: 'Gilroy-Regular';
    font-size: 10px;
    color: #D2D3D6;
}

.hphone {
    font-family: 'Gilroy-SemiBold';
    font-size: 16px;
    color: white;    
}

.hCallback {
    font-family: 'Gilroy-SemiBold';
    font-size: 12px;
    color: #87BF3C;
}

h1 {
    font-family:  'Gilroy-Regular';
    font-size: 48px;
    color: #ffffff;
    font-weight: 200;
}

h1 span {
    font-weight: 600;
}

.underheader1 {
    font-family:  'Gilroy-Regular';
    font-size: 20px;
    font-weight: 200;
    color: #ffffff;
}

.underheader1 span {
    font-weight: 600;
}

.calcprice {
    background-color: #FEAA01;
    width: 285px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    color: #FBFFFF;
}

nav ul li {
    display: inline-block;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    color: white;
    margin: 30px;
    padding: 10px;
}

nav ul li:hover {
    border: 1px solid #E1A43B;
    border-radius: 20px;
}

.hMenuBottom {
    font-family: 'Gilroy-Regular';
    font-size: 12px;
    color: white;
}

.hMenuBottom img {
    display: block;
}

.mcalcprice {
    background-color: white;
    border: 1px solid black;
    border-bottom-right-radius: 30px;
}

.mcalcprice h2 {
    font-family: 'Gilroy-Regular';
    font-size: 36px;
    color: #2D2D2F;
    font-weight: 300;
}

.mcalcprice h2 span {
    font-weight: 600;
}

.mcalcprice article h3 {
    font-family: 'Gilroy-SemiBold';
    font-size: 25px;
    color: #262425;
}

.mcalcprice article p {
    font-family: 'Gilroy-Regular';
    font-size: 11px;
    color: #777779;
}

.btnnext {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #FDFDFA;
    width: 139px;
    height: 47px;
    background-color: #FEAA01;
    border: 1px solid white;
    border-radius: 5px;
    vertical-align: baseline;
    text-align: center;
}

.house-01 {
    font-family: 'Gilroy-SemiBold';
    font-size: 18px;
    color: #555050;
    font-weight: 500;
}

.leadarch-1 {
    font-family: 'Gilroy-SemiBold';
    font-size: 25px;
    color: #272627;
    font-weight: 600;
}

.leadarch-2 {
    font-family: 'Gilroy-Regular';
    font-size: 14px;
    color: #A09EA1;
    font-weight: 300;
}

.questions {
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    color: #4B4747;
    font-weight: 300;
}

.discount {
    font-family: 'Gilroy-Regular';
    font-size: 14px;
    color: #4B4747;
    font-weight: 300;
    width: 251px;
    height: 68px;
    border: 1px solid black;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
}

.price-1 {
    font-family: 'Gilroy-Regular';
    font-size: 14px;
    color: black;
    font-weight: 300;
    width: 251px;
    height: 68px;
    border: 1px solid black;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-image: url("../img/CalcBG01.jpg");
    background-repeat: no-repeat;
}

.project-1 {
    font-family: 'Gilroy-Regular';
    font-size: 14px;
    color: black;
    font-weight: 300;
    width: 251px;
    height: 68px;
    border: 1px solid black;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-image: url("../img/ExactSekBG01.jpg");
    background-repeat: no-repeat;
}

.projects h2{
    font-family: 'Gilroy-Regular';
    font-size: 47px;
    color: #2D2D2F;
    font-weight: normal;
}

.pcards h3 {
    font-family: 'Gilroy-Bold';
    font-size: 29px;
    color: gray;
    font-weight: normal;
}

.watchproj {
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    color: #FBFFFF;
    text-align: center;
    background-color: #73B918;
    width: 285px;
    height: 20px;
    border-radius: 4px;
    padding: 20px;
}

footer {
    display: block;
    background-color: #373739;
    width: 1440px;
    height: 160px;
}

.cright {
    color: white;
    font-family: 'Gilroy-Medium';
    font-size: 15px;
    display: block;
    float: left;
    margin-left: 60px;
}

.prpolicy {
    color: #E5B53E;
    font-family: 'Gilroy-Medium';
    font-size: 15px;
    text-decoration: underline;
    display: block;
    float: right;
    margin-right: 60px;
}

.pop-proj h2 {
    font-family: 'Gilroy-Bold';
    font-size: 47px;
    color: #2D2D2F;
}

.ppmenu ul {
    display: inline-block;
}

.ppmenu ul li {
    display: inline-block;
    height: 20px;
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #efefef;
    border-radius: 4px;    
}

.ppmenu ul li:hover {
    background-color: #73B918;
}

.ppmenu ul li a {
    font-family: 'Gilroy-Regular';
    font-size: 13px;
    color: #5c5f66;
    text-decoration: none;
}

.ppmenu ul li:hover a {
    color: #ffffff;
}

.ppmenu p {
    display: inline-block;
    margin-left: 20px;
}

.ppmenu p a {
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    color: #f7d047;
    text-decoration: dotted;
}

.ppcard h3{
    font-family: 'Gilroy-Bold';
    font-size: 29px;
    color: #000000;
}

.ppcard img {
    display: block;
    width: 350px;
    height: 220px;    
}

.ppcard p {
    font-family: 'Gilroy-Regular';
    font-size: 13px;
    color: #7a7d81;
}

.pp_price {
    font-family: 'Gilroy-Bold';
    font-size: 32px;
    color: #73B918;
}

.pp__button {
    background-color: #FEAA01;
    border-radius: 5px;
    border: 1px solid #FCFCFE;
    width: 182px;
    height: 40px;
    padding: auto;
}

.pp__button a {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-family: 'Gilroy-Bold';
    color: #FCFCFE;
    font-size: 12px;
    text-decoration: none;
}

.pp_ip {
    font-family: 'Gilroy-Regular';
    font-size: 9px;
    color: #B8B8BA;
}

.six-steps h2 {
    font-family: 'Gilroy-Light';
    font-size: 47px;
    color: #2D2D2F;
}

.six-steps h2 b {
    font-family: 'Gilroy-Bold';
}

.ss__menu ul li {
    display: inline-block;
    border-radius: 7px;
    width: 160px;
    height: 30px;
    background-color: #efefef;
    font-family: 'Gilroy-SemiBold';
    font-size: 18px;
    color: #333438;
    text-align: center;
    padding-top: 8px;
    margin-right: 20px;
}

.ss__menu ul li:hover {
    background-color: #73B918;
    color: #ffffff;
}

.six-steps__mb img {
    display: block;
    width: 539px;
    height: 381px;
    border-bottom-right-radius: 80px;
}

.ss__time {
    font-family: 'Gilroy-Regular';
    font-size: 13px;
    color: #4C4F56;
}

.ss__time b {
    font-family: 'Gilroy-SemiBold';
}

.six-steps__mb h3 {
    font-family: 'Gilroy-ExtraBold';
    font-size: 35px;
    color: #4C4F56;
}

.six-steps__mb p {
    font-family: 'Gilroy-Regular';
    font-size: 18px;
    color: #4C4F56;
}

.six-steps__mb p b {
    font-family: 'Gilroy-SemiBold';
}

.six-steps__mb-fs {
    font-family: 'Gilroy-Regular';
    font-size: 14px;
    color: #4C4F56;
}

.six-steps__mb-sa img{
    display: block;
    width: 151px;
    height: 215px;
    border: 1px solid black;
}

.promot-n-gifts h2 {
    font-family: 'Gilroy-Regular';
    font-size: 47px;
    color: #2D2D2F;
    font-weight: lighter;
}

.promot-n-gifts h2 b {
    font-weight: bold;
}

.promot-n-gifts__card1 {
    background-image: url('../img/House31.png');
}

.promot-n-gifts__card2 {
    background-image: url('../img/House32.png');    
}

.promot-n-gifts__card1, .promot-n-gifts__card2 {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-right: 25px;
    width: 534px;
    height: 296px;
    padding: 10px;
    font-size: 0;
}

.promot-n-gifts__card1 h3, .promot-n-gifts__card2 h3 {
    font-family: 'Gilroy-SemiBold';
    font-size: 27px;
    width: 312px;
    color: #ffffff;
    text-align: left;
}

.promot-n-gifts__card1 p, .promot-n-gifts__card2 p {
    font-family: 'Gilroy-Regular';
    font-size: 14px;
    width: 312px;
    color: #ffffff;
    text-align: justify;
}

.promot-n-gifts__card1 a, .promot-n-gifts__card2 a {
    display: block;
    width: 234px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 5px;
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    text-decoration: none;    
    color: #000000;
    text-align: center;
    padding-top: 13px;
}

.buildedhouses h2 {
    font-family: 'Gilroy-Light';
    font-size: 47px;
    color: #2D2D2F;
}

.buildedhouses h2 b {
    font-family: 'Gilroy-Bold';
}

.imgslider div .simage {
    display: inline-block;
    margin-right: 18px;
}

.imgdescript p a {
    font-family: 'Gilroy-Regular';
    font-size: 18px;
    color: #85B73E;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.imgdescript h3 {
    font-family: 'Gilroy-SemiBold';
    font-size: 36px;
    color: #4C4F56;
}

.imgdescript p {
    font-family: 'Gilroy-Regular';
    font-size: 18px;
    color: #56595f;
}

.imgdescript p b {
    font-family: 'Gilroy-Bold';
}


.bhbutton {
    display: block;
    width: 234px;
    height: 30px;
    border-radius: 6px;
    background-color: #FEAA01;
    font-family: 'Gilroy-Bold';
    font-size: 13px;
    color: #fcfcfe;
    text-decoration: none;
    text-align: center;
    padding-top: 14px;
}

.buildinfo {
    font-family: 'Gilroy-Regular';
    font-size: 12px;
    color: #8E9093;
}

.buildinfo span {
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    color: #434749;
}
.buildinfo span b {
    font-family: 'Gilroy-Bold';
    font-size: 28px;
    color: #434749;
}

.buildinfo {
    font-family: 'Gilroy-Regular';
    font-size: 18px;
    color: #434749;
}

.buildinfo b {
    font-family: 'Gilroy-SemiBold';
}

.suconstrsite h2 {
    font-family: 'Gilroy-Light';
    font-size: 36px;
    color: #2D2D2F;
}

.suconstrsite h2 b {
    font-family: 'Gilroy-Bold';
}

.suconstrsite .listinfo {
    font-family: 'Gilroy-Regular';
    font-size: 19px;
    color: #4C4F56;
}

.suconstrsite .listitemdata {
    font-family: 'Gilroy-Regular';
    font-size: 13px;
    color: #000;
}

.suconstrsite .listitemdata span {
    font-family: 'Gilroy-Bold';
}

.suconstrsite .suinput {
    font-family: 'Gilroy-Light';
    font-size: 13px;
    color: #413E3F;
}

.suconstrsite .confpolicy {
    font-family: 'Gilroy-Light';
    font-size: 10px;
    color: #413E3F;
}

.suconstrsite .confpolicy b {
    font-family: 'Gilroy-Bold';
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.projcat h2 {
    font-family: 'Gilroy-Light';
    font-size: 47px;
    color: #2D2D2F;
}

.projcat h2 b {
    font-family: 'Gilroy-Bold';
}

.projcat__card {
    display: block;
    width: 348px;
    height: 495px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 9px;
    font-size: 0;
}

.projcat__card h3 {
    font-family: 'Gilroy-Light';
    font-size: 24px;
    color: #4C4F56;
}

.projcat__card h3 b {
    font-family: 'Gilroy-Bold';
}

.projcat__card-img {
    display: inline-block;
    width: 73px;
    height: 83px;
    margin-right: 10px;
}

.projcat__card-img img {
    width: 39px;
    height: 39px;
    margin: 10px 0 0 18px;
}

.projcat__card-img p {
    font-family: 'Gilroy-Regular';
    font-size: 13px;
    color: #706f75;
    text-align: center;
}

.projcat__card-desc {
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    color: #4C4F56;
}

.projcat__card-qst {
    font-family: 'Gilroy-Bold';
    font-size: 13px;
    color: #2D2D2F;
}

.projcat__card-policy {
    font-family: 'Gilroy-Light';
    font-size: 10px;
    color: #413e3f;
}

.projcat__card-policy b {
    font-family: 'Gilroy-Bold';
}

.reviews h2 {
    font-family: 'Gilroy-Light';
    font-size: 47px;
    color: #2D2D2F;
}

.reviews h2 b {
    font-family: 'Gilroy-Bold';
}

.reviews__cards {
    display: inline-block;
    width: 347px;
    height: 231px;
    margin-left: 20px;
}

.reviews__cards img {
    display: inline-block;
    width: 93px;
    height: 93px;
    border: 1px solid black;
    border-top-left-radius: 46px;
    border-bottom-left-radius: 46px;
    border-bottom-right-radius: 46px;
}

.reviews__cards h3 {
    display: inline-block;
    margin-top: 0;
    font-family: 'Gilroy-Bold';
    font-size: 20px;
    color: #363539;
}

.reviews__cards p {
    font-family: 'Gilroy-Regular';
    font-size: 13px;
    color: #6D7176;
}

.reviews__cards-text {
    font-family: 'Gilroy-Regular';
    font-size: 14px;
    color: #000;
}

.reviews__cards-text a {
    font-family: 'Gilroy-Medium';
    font-size: 13px;
    color: #f3b43f;
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

.comp-dir {
    font-size: 0;
}

.comp-dir h2 {
    font-family: 'Gilroy-Light';
    font-size: 47px;
    color: #2d2d2f;
}

.comp-dir h2 b {
    font-family: 'Gilroy-Bold'
}

.comp-dir p {
    font-family: 'Gilroy-Regular';
    font-size: 14px;
    color: #6f7276;
    text-align: justify;
}

.comp-dir ul {
    list-style-type: none;    
}

.comp-dir ul li {
    display: inline-block;
    width: 120px;
    margin-right: 25px;
    font-family: 'Gilroy-Regular';
    font-size: 18px;
    color: #434749;
}

.comp-dir ul li b {
    font-family: 'Gilroy-Bold';
    font-size: 47px;
}

.list-disc {
    display: inline-block;
    background-color: #F5BA40;
    width: 9px;
    height: 9px;
    border-radius: 5px;
}

.questions2 {
    font-size: 0;
}

.questions2 h2 {
    font-family: 'Gilroy-Light';
    font-size: 47px;
    color: #2d2d2f;
}

.questions2 h2 b {
    font-family: 'Gilroy-Bold';
}

.questions2 p {
    font-family: 'Gilroy-Regular';
    font-size: 12px;
    color: #565962;
}

.questions2 p b {
    font-family: 'Gilroy-Bold';
}

.faq {
    display: block;
    width: 540px;
    height: 420px;
    padding: 0;
}

.faq__item {
    display: block;
    width: 539px;
    height: 50px;
    margin-top: 10px;
    background-color: #EFEFEF;
}

.faq__item h3 {
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    color: #585B63;
}

.faq__item-selected {
    background-color: #78AF36;    
}

.faq__item-selected h3 {
    color: #F5F6FA;
}

.estimate {
    padding: 0;
    display: block;
    width: 1110px;
    height: 530px;
    font-size: 0;
}

.estimate__info {
    display: inline-block;
    width: 715px;
    height: 520px;
    background-image: url(../img/chertegh.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-top-left-radius: 120px;
}

.estimate__info h2 {
    font-family: 'Gilroy-Light';
    font-size: 36px;
    color: #2d2d2f;
}

.estimate__info h2 b {
    font-family: 'Gilroy-Bold';
}

.estimate__info p {
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    color: #494b50;
}

.estimate__info ul {
    list-style-type: none;
}

.estimate__info ul li {
    font-family: 'Gilroy-Regular';
    font-size: 14px;
    color: #494b50;
}

.estimate__info ul li b {
    font-family: 'Gilroy-Bold';
}

.estimate__contacts {
    display: inline-block;
    width: 390px;
    height: 520px;
    background-color: #fff;
}

.estimate__contacts h3 {
    font-family: 'Gilroy-Bold';
    font-size: 19px;
    color: #262425;
}

.estimate__contacts p {
    font-family: 'Gilroy-Regular';
    font-size: 14px;
    color: #4c4f56;
}

.estimate__contacts h4 {
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    color: #262425;
}

.estimate__contacts div {
    display: inline-block;
    width: 80px;
    height: 90px;
    margin-right: 10px;
    font-family: 'Gilroy-Regular';
    font-size: 15px;
    color: #706f75;
}

.estimate__contacts .confpolicy {
    font-family: 'Gilroy-Light';
    font-size: 10px;
    color: #413E3F;
}

.estimate__contacts .confpolicy b {
    font-family: 'Gilroy-Bold';
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.ourcontacts {
    display: block;
    padding: 0;
    font-size: 0;
}

.ourcontacts__data h3 {
    font-family: 'Gilroy-Bold';
    font-size: 20px;
    color: black;
}

.ourcontacts__data-adress {
    font-family: 'Gilroy-Regular';
    font-size: 14px;
    color: #4c4c4d;
}

.ourcontacts__data-worktime  {
    font-family: 'Gilroy-Regular';
    font-size: 10px;
    color: #605F60;
}

.ourcontacts__data-phone {
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    color: #363435;
}

.ourcontacts__data-writeus {
    font-family: 'Gilroy-Bold';
    font-size: 13px;
    color: #363435;
}

.ourcontacts__data p a {
    font-family: 'Gilroy-Bold';
    font-size: 13px;
    color: #8CB746;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.ourcontacts__location {
    font-size: 0;
}

.ourcontacts__location h3 {
    font-family: 'Gilroy-Bold';
    font-size: 20px;
    color: black;
}